https://antonzorin.com {
    root * /usr/src/app/public/
    file_server
    encode gzip
    reverse_proxy * localhost:3000
    # Optionally, enforce HTTPS
    # Redirection from HTTP to HTTPS is automatic with Caddy
}


http://localhost:3000 {
    reverse_proxy nodejs-app:3000
}

https://localhost:443 {
    reverse_proxy nodejs-app:3000
}

http://localhost:3001 {
    reverse_proxy caddy:2019
                      }